body {
    font-family: arial;
    background: url("../imagens/code-html-1500.jpg");
    background-size: 100%;
    color: #d3c8bb;
}

nav {
    background-color: #475fbf;;
    padding: 10px;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

li {
    display: inline;
}

a {
    padding: 2px 10px;
    color: white;
    display: inline-block;
    text-decoration: none;
}

a:hover {
    color: black;
}
