body {
    font-family: arial;
    background-size: 100%;
    background-color: black;
    color: white;
}

nav#menu {
    background-color: transparent;
    padding: 10px;
    text-align: right;
    position: fixed;
    top: 0px;
    left: 900px;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

li {
    display: inline;
    padding: 10px;
}

a {
    padding: 2px 15px;
    display: inline-block;
    color: white;
    text-decoration: none;
}

a:hover {
    color: #00b8e4;
}

html {
    scroll-behavior: smooth;
    overflow-y: scroll;
    scroll-snap-type: mandatory;
}

#section1 {
    height: 800px;
    display: inline-block;
    width: 100%;
}

#section2 {
    height: 800px;
    display: inline-block;
    width: 100%;
    
}

#section3 {
    height: 800px;
    display: inline-block;
    width: 100%;
}

#section4 {
    height: 800px;
    display: inline-block;
    width: 100%;
}

#section5 {
    height: 800px;
    display: inline-block;
    width: 100%;
}

h1 {
    margin: 50px;
    padding: 0;
    text-align: center;
}