* {
    margin: 0;rtç  
    padding: 0;
}

.links {
    width: 100%;
    height: 50px;
    position: fixed;
    display: flex;
}

.links a {
    padding: 10px 0;
    text-decoration: none;
    flex-grow: 1;
    cursor: pointer;
    transition: all .4s;
    text-align: center;
    font-family: 'Arial';
    font-size: 100%;
    color: #ffffff;
}

.links a:hover {
    background-color: rgba(255, 255, 255, .2);
}

html {
    scroll-behavior: smooth;
}

#section1 {
    height: 800px;
    background: blue;
    display: inline-block;
    width: 100%;
}

#section2 {
    height: 800px;
    background: pink;
    display: inline-block;
    width: 100%;
}

#section3 {
    height: 800px;
    background: yellow;
    display: inline-block;
    width: 100%;
}

#section4 {
    height: 800px;
    background: red;
    display: inline-block;
    width: 100%;
}

#section5 {
    height: 800px;
    background: green;
    display: inline-block;
    width: 100%;
}

h1 {
    margin: 100px;
    padding: 0;
    text-align: center;
}

